body{
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

.inicio{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 5px;
    box-shadow:7px 7px 13px 0 rgba(50,50 ,50 , 0.22);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: : all 0.3 ease-out;
}

.card:hover{
    transform: translate(-5px);
    cursor: pointer;
}

.card p {
    color: #a3a5ae;
    font-size: 16px;
}

img {
    float: right;
    max-width: 64px;
    max-width: 64px;
}

.green{
    border-left:3px solid #3bb54a;
}
.blue{
    border-left:3px solid #4895ff;
}
.red{
    border-left:3px solid #b3404a;
}
.pink{
    border-left:3px solid #d735ec;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
}